@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

html{
    font-size: 62.5%;
}

body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: #fff;
    color: white;
}

header{

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: rgba(255, 255, 255, 0.3);
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 3rem;
    color: #b74b4b;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
}

.logo:hover{
    transform: scale(1.1);
}

nav {
    display: flex;
    gap: 0.3rem;
}

nav a{
    font-size: 1.8rem;
    color: white;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

nav a:hover,
nav a.active{
    color: #b74b4b;
    border-bottom: 3px solid #b74b4b;
}

.menu-toggle {
    display: none;
    cursor: pointer;
    font-size: 3rem;
    color: white;
}

@media(max-width:995px){
    nav{
        position: absolute;
        display: none;
        flex-direction: column;
        top: 5rem;
        right: 3rem;
        width: 60%;
        border-left: 3px solid #b74b4b;
        border-bottom: 3px solid #b74b4b;
        border-bottom-left-radius: 2rem;
        padding: 2rem solid;
        background-color: #161616;
        border-top: 0.1rem solid rgba(0,0,0,0.1);
    }

    nav.active{
        display: flex;
    }

    nav a{
        font-size: 1.2rem;
        margin: 1.5rem 0;
        margin-left:5px;
    }

    .menu-toggle {
        display: block;
    }

    nav a:hover,
    nav a.active{
        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem solid #b74b4b;
    }
}

section{
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-color: black;
}

.home .home-content h1{
    font-size: 3.6rem;
    font-weight: 700;
    line-height: 1.3;
}

span{
    color: #b74b4b;
}

.home-content h3{
    font-size: 2.7rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.home-content p{
    font-size: 1.6rem;
}

.home-img{
    border-radius: 50%;
}

.home-img img{
    position: relative;
    width: 26vw;
    border-radius: 50%;
    box-shadow: 0 0 20px #b74b4b;
    cursor: pointer;
    transition: 0.2s linear;
}

.home-img img:hover{
    font-size: 1.8rem;
    font-weight: 500;
}

.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 0.2rem solid #b74b4b;
    font-size: 2rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
    color: #b74b4b;
}

.social-icons a:hover{
    color: black;
    transform: scale(1.3) translateY(-5px);
    background-color: #b74b4b;
    box-shadow: 0  0 25px #b74b4b;
}

.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: black;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: #b74b4b;
    letter-spacing: 0.3rem;
    font-weight: 600;
    border: 2px solid #b74b4b;
    transition: 0.3s ease;
    cursor: pointer;
}

.btn:hover{
    transform: scale3d(1.03);
    background-color: #b74b4b;
    color: black;
    box-shadow: 0 0 25px #b74b4b;
}

.typing-text{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}

.typing-text span{
    position: relative;
}

.typing-text span::before{
    content: "software Developer";
    color: #b74b4b;
    animation: words 20s infinite;
}

.typing-text span::after{
    content: "";
    background-color: black;
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid black;
    right: -8;
    animation: cursor 0.6s infinite;
}

/* Estilos específicos para as seções desejadas */
.services, .skills, .education, .experience, .contact {
    background-color: black;
    color: white;
    text-align: center;
}

.services h2, .skills h2, .education h2, .experience h2, .contact h2 {
    font-size: 4rem;
    margin-bottom: 1.5rem;
    color: #b74b4b;
}

.services p, .skills p, .education p, .experience p, .contact p {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: #ffffff;
}

.service-list .service-card h3 {
    font-size: 1.39rem;
    margin-bottom: 1rem;
    margin-top: 1.5rem;
    color: #ffffff;
}

.service-list .service-card p {
    font-size: 1.3rem;
    margin-bottom: 1.5rem;
    color: #ffffff;
}

.services .service-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
    margin-top: 25px;
}

.services .service-card {
    background-color: #161616;
    padding: 2rem;
    border-radius: 1rem;
    flex: 1 1 calc(25% - 3rem); /* Ajusta a largura para 25% menos o gap */
    max-width: calc(25% - 3rem); /* Garante que o máximo será 25% menos o gap */
    box-sizing: border-box;
}

.skills {
    background-color: #703030;
    color: white;
    text-align: center;
    padding: 4rem 9%;
    min-height: 0;
}

.skills h2 {
    font-size: 4rem;
    margin-bottom: 1.5rem;
    color: #000000;
}

.skills p {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: #ffffff;
}

.skills ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
    padding: 0;
    margin: 0;
}

.skills ul li {
    display: flex;
    align-items: center;
    background-color: #161616;
    padding: 1.5rem 2rem;
    border-radius: 1rem;
    flex: 1 1 calc(25% - 3rem); /* Ajusta a largura para 25% menos o gap */
    max-width: calc(25% - 3rem); /* Garante que o máximo será 25% menos o gap */
    box-sizing: border-box;
    font-size: 1.8rem;
    color: white;
}

.skills ul li i {
    margin-right: 1rem;
    font-size: 2.5rem;
}

.education-list .education-card h3 {
    font-size: 1.39rem;
    margin-bottom: 1rem;
    margin-top: 1.5rem;
    color: #ffffff;
}

.education-list .education-card p {
    font-size: 1.3rem;
    margin-bottom: 1.5rem;
    color: #ffffff;
}

.education .education-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
    margin-top: 25px;
}

.education .education-card {
    background-color: #161616;
    padding: 2rem;
    border-radius: 1rem;
    flex: 1 1 calc(25% - 3rem);
    max-width: calc(25% - 3rem);
    box-sizing: border-box;
}

.experience{
    background-color: #703030;
}

.experience h2 {
    font-size: 4rem;
    margin-bottom: 1.5rem;
    color: #000000;
}

.experience-list .experience-card h3 {
    font-size: 1.39rem;
    margin-bottom: 1rem;
    margin-top: 1.5rem;
    color: #ffffff;
}

.experience-list .experience-card p {
    font-size: 1.3rem;
    margin-bottom: 1.5rem;
    color: #ffffff;
}

.experience .experience-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
    margin-top: 25px;
}

.experience .experience-card {
    background-color: #161616;
    padding: 2rem;
    border-radius: 1rem;
    flex: 1 1 calc(25% - 3rem);
    max-width: calc(25% - 3rem);
    box-sizing: border-box;
}

.contact{
    min-height: 400px;
}

.contact form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.contact form input, .contact form textarea {
    width: 100%;
    max-width: 600px;
    padding: 1rem;
    border-radius: 1rem;
    background-color: #161616;
    color: white;
    border: 2px solid #b74b4b;
}

.contact form button {
    width: 100%;
    max-width: 200px;
}

@keyframes cursor{
    to{
        border-left: 3px solid #b74b4b;
    }
}

@keyframes words{
    0%, 50%{
        content: "Desenvolvedor Web";
    }
    51%, 100%{
        content: "Desenvolvedor Back-end";
    }
}

@media (max-width: 1000px){
    .home{
        gap: 4rem;
    }
}

@media(max-width:995px){
    .home{
        flex-direction: column;
        margin: 5rem 4rem;
    }

    .home .home-content h3{
        font-size: 2.5rem;
    }

    .home-content h1{
        font-size: 5rem;
    }

    .home-img img{
        width: 70vw;
        margin-top: 4rem;
    }
}

@media (max-width: 768px) {
    .services .service-card {
        flex: 1 1 calc(50% - 3rem);
        max-width: calc(50% - 3rem);
    }
    .education .education-card {
        flex: 1 1 calc(50% - 3rem);
        max-width: calc(50% - 3rem);
    }
    .skills ul li {
        flex: 1 1 calc(50% - 3rem);
        max-width: calc(50% - 3rem);
    }
}

@media (max-width: 480px) {
    .services .service-card {
        flex: 1 1 calc(100% - 3rem);
        max-width: calc(100% - 3rem);
    }
    .education .education-card {
        flex: 1 1 calc(100% - 3rem);
        max-width: calc(100% - 3rem);
    }
    .skills ul li {
        flex: 1 1 calc(100% - 3rem);
        max-width: calc(100% - 3rem);
    }
}
