*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

:root {
    --dark-bg: #0a0a0a;
    --darker-bg: #050505;
    --accent: #2ecc71;
    --accent-glow: rgba(46, 204, 113, 0.4);
    --text: #ffffff;
}

body {
    background-color: var(--dark-bg);
    color: var(--text);
    line-height: 1.6;
    overflow-x:  hidden;
}

/* Navigation */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1.5rem 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(10, 10, 10, 0.95);
    backdrop-filter: blur(10px);
    z-index: 1000;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.logo {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--accent);
    text-decoration: none;
    position: relative;
    padding-left: 2.5rem;
}

.nav-links {
    display: flex;
    gap: 3rem;
    list-style: none;
}

.nav-links a {
    color: var(--text);
    text-decoration: none;
    font-weight: 500;
    transition: all 0.3s ease;
    position: relative;
}

.nav-links a::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    background: var(--accent);
    transition: width 0.3s ease;
}

.nav-links a:hover::after {
    width: 100%;
}

/* Hore Section */
.hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding: 12% 5%;
    background: radial-gradient(circle at 75% 30%, var(--accent-glow) 0%, trasparent 30%);
}

.hero-content {
    flex: 2;
    padding-right: 5rem;
}

.hero-image {
    flex: 1;
    text-align: center;
    position: relative;
}

.profile-img {
    width: 400px;
    height: 500px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid var(--accent);
    box-shadow: 0 0 50px var(--accent-glow);
    animation: float 3s ease-in-out infinite;
    filter: grayscale(0.2) contrast(1.1);
}

@keyframes float {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
}

.hero h1 {
    font-size: 4rem;
    margin-bottom: 1.5rem;
    background: linear-gradient(45deg, var(--accent) 30%, #ffffff 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    opacity: 0.9;
    max-width: 600px;
}

.cta-button {
    display: inline-block;
    padding: 1rem 2rem;
    font-weight: 700;
    background: linear-gradient(45deg, var(--accent), #27ae60);
    color: white;
    border-radius: 8px;
    text-decoration: none;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.typewriter-cursor::after {
  content: "|";
  animation: blink 0.8s infinite;
  margin-left: 2px;
  color: var(--accent); /* use sua cor de destaque */
}

@keyframes blink {
  0%, 50% { opacity: 1; }
  51%, 100% { opacity: 0; }
}

.hidden {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.8s ease;
}

.show {
  opacity: 1;
  pointer-events: auto;
}

.skills {
    min-height: 70vh;
    padding: 5rem 5%;
    background: var(--darker-bg);
    text-align: center;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    margin-top: 2rem;
}

.skill-card {
    padding: 1.7rem;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.05);
    transition: all 0.3s ease;
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
}

.skill-card:hover {
    transform: translateY(-10px);
    border-color: var(--accent);
    box-shadow: 0 10px 30px var(--accent-glow);
}

.skill-card i {
    font-size: 2.3rem;
    color: var(--accent);
    margin-bottom: 1rem;
}

.skill-card ul{
    list-style: none;
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 0.5rem;
}

.skill-card li {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    background: rgba(255, 255, 255, 0.1);
    padding: 0.2rem 0.3rem;
    border-radius: 10px;
    font-size: 1rem;
    transition: background 0.3s ease;
    font-weight: 700;
}

.skill-card li i{
    font-size: 1.4rem;
    color: var(--accent);
    margin: 0;
    display: flex;
    align-items: center;
}

.skill-card li:hover {
    background: var(--accent);
    color: var(--dark-bg);
}


/*Footer*/
footer {
    background: var(--darker-bg);
    padding: 3rem 5%;
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.social-links {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.social-links a {
    color: var(--text);
    font-size: 1.5rem;
    transition: all 0.3s ease;
}

.social-links a:hover {
    color: var(--accent);
    transform: translateY(-3px);
}

/* Cards (Projects & Certificates) */
.projects{
    min-height: 100vh;
    padding: 5rem 5%;
    background: var(--dark-bg);
    text-align: center;
}

.certificates{
    min-height: 100vh;
    padding: 5rem 5%;
    background: var(--darker-bg);
    text-align: center;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 2rem;
    margin-top: 3rem;
}

.card {
    background: rgba(255,255,255,0.05);
    border-radius: 15px;
    padding: 1rem;
    border: 1px solid rgba(255,255,255,0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card img {
    width: 100%;
    max-height: 150px;
    object-fit: contain;
    border-radius: 8px;
    margin-bottom: 0.8rem;
}

.card p {
    font-size: 0.9rem;
    opacity: 0.85;
    display: -webkit-box;
    -webkit-line-clamp: 3;  /* máximo 3 linhas */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 25px var(--accent-glow);
    border-color: var(--accent);
}

.card-btn {
    margin-top: 2%;
    display: inline-block;
    padding: 0.6rem 1.2rem;
    border-radius: 8px;
    background: var(--accent);
    color: var(--text);
    font-size: 0.9rem;
    font-weight: 600;
    text-decoration: none;
    transition: all 0.3s ease;
}

.card-btn:hover {
    background: var(--accent-glow);
    transform: translateY(-2px);
}


/* Contact */
.contact {
    min-height: 70vh;
    padding: 5rem 5%;
    background: var(--dark-bg);
    text-align: center;
}

.contact-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 3rem;
    margin-top: 2rem;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact-form input,
.contact-form textarea {
    padding: 1rem;
    border-radius: 8px;
    border: none;
    outline: none;
    resize: none;
}

.contact-form button {
    margin-top: 1rem;
}

/* Contact links */
.contact-links {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
}

.contact-links .cta-button {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.contact-links .social {
    display: flex;
    gap: 1.5rem;
    font-size: 1.8rem;
    margin-top: 1rem;
}

.contact-links .social a {
    color: var(--text);
    transition: 0.3s;
}

.contact-links .social a:hover {
    color: var(--accent);
}


/* Modal Background */
.modal {
  display: none; 
  position: fixed; 
  z-index: 9999; 
  padding-top: 60px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0,0,0,0.9); 
}

/* Imagem dentro da modal */
.modal-content {
  margin: auto;
  display: block;
  max-width: 80%;
  max-height: 80%;
  border-radius: 10px;
}

/* Texto da legenda */
#caption {
  margin: 15px auto;
  text-align: center;
  color: #ccc;
  font-size: 1rem;
}

/* Botão fechar */
.close {
  position: absolute;
  top: 20px;
  right: 35px;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}
.close:hover {
  color: var(--accent);
}

/* Estilo do botão de voltar ao topo */
#back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: black;
    color: white;
    border: 1px solid var(--accent);
    border-radius: 25%;
    padding: 10px;
    font-size: 15px;
    cursor: pointer;
    display: none;
    z-index: 100;
    width: 40px;
    height: 40px;
}

#back-to-top:hover {
    background-color: var(--accent-glow);
    box-shadow: 0  0 25px var(--accent-glow);
    background-color: #1D1E2C;
}


@media (max-width: 768px) {
    .profile-img {
        width: 280px;
        height: 280px;
    }

    .hero {
        flex-direction: column;
        text-align: center;
        padding-top: 8rem;
    }

    .hero-content {
        padding-right: 0;
        margin-bottom: 3rem;
    }

    .nav-links {
        display: none;
    }

    .logo {
        font-size: 1.5rem;
        padding: 2rem;
    }
    
}